* {
	border: none;
	border-radius: 0;
	font-family: "JetBrainsMono";
	font-size: 17px;
	min-height: 0;
	margin: 0px;
}

window#waybar {
	/*background: #000000;*/
	background: rgba(0, 0, 0, 0.3);
	color: gray;
	color: #ffffff;
}

#window {
	color: #e4e4e4;
	font-weight: bold;
}

#workspaces {
	padding: 0px;
	margin: 0px;
}

#workspaces button {
	padding: 0 5px;
	margin: 0px;
	background: transparent;
	color: #bebebe;
	/*
	color: #00afd7;
	color: #ffffff;
	border: 1px solid #00afd7;
	*/
	/*border: 1px solid #1b1d1e;*/
	font-weight: bold;
}
#workspaces button:hover {
  background: #ffffff;
  color: #141B1E;
	box-shadow: inherit;
	text-shadow: inherit;
}

#workspaces button.active {
  color: #eeeeee;
  background: #D76DBC;
	box-shadow: inherit;
	text-shadow: inherit;
}

#workspaces button.focused {
	background: #e88939;
	background: #00afd7;
	color: #1b1d1e;
}

#workspaces button.urgent {
	background: #af005f;
	color: #1b1d1e;
}

#mode {
	background: #af005f;
	color: #1b1d1e;
}
#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
	padding: 0 3px;
	margin: 0 2px;
}

#custom-disk_home, #custom-disk_root {
  color: #E5C76B;
}

#clock {
  color: #f2cdcd;
}

#backlight {
  color: #fab387;
}

#battery {
  color: #a6e3a1;
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #af005f;
    }
}

#battery.warning:not(.charging) {
	background-color: #ff8700;
	color: #1b1d1e;
}
#battery.critical:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
  color: #f38ba8;
}

#memory {
  color: #A6E3A1;
}

#temperature {
  color:#e88939;
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
  color: #cba6f7;
}

#pulseaudio.muted {
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
}

#custom-weather {
  background-color: rgba(22, 25, 37, 0.9);
  color: #f9e2af;
  box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
}

#language {
  min-width: 20px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 700;
  color: #E070C6;
}
