* {
	border: none;
	border-radius: 0;
	font-family: "JetBrainsMono";
	font-size: 17px;
	min-height: 0;
	margin: 0px;
}

window#waybar {
	/*background: #000000;*/
	background: rgba(0, 0, 0, 0.3);
	color: gray;
	color: #ffffff;
}

#window {
	color: #e4e4e4;
	font-weight: bold;
}

#workspaces {
	padding: 0px;
	margin: 0px;
}

#workspaces button {
	padding: 0 5px;
	margin: 0px;
	background: transparent;
	color: #bebebe;
  border-radius: 5px;
	/*
	color: #00afd7;
	color: #ffffff;
	border: 1px solid #00afd7;
	*/
	/*border: 1px solid #1b1d1e;*/
	font-weight: bold;
}
#workspaces button:hover {
  color: #eeeeee;
  background: #D76DBC;
	box-shadow: inherit;
	text-shadow: inherit;
}

#workspaces button.active {
  color: #eeeeee;
  background: #D76DBC;
	box-shadow: inherit;
	text-shadow: inherit;
}

#workspaces button.focused {
	background: #e88939;
	background: #00afd7;
	color: #1b1d1e;
}

#workspaces button.urgent {
	background: #af005f;
	color: #1b1d1e;
}

#mode {
	background: #af005f;
	color: #1b1d1e;
}
#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #custom-weather, #tray, #mode {
	padding: 0 3px;
	margin: 0 5px;
}

#custom-disk_root {
  margin-right: 5px;
}

#custom-disk_home {
  background: #E5C76B;
  color:#000000;
  border-radius: 5px 0 0 5px;
  padding: 0 5px;
  margin-left: 5px;
}

#custom-disk_root {
  background: #E5C76B;
  color:#000000;
  border-radius: 0 5px 5px 0;
  padding: 0 5px;
}

#clock {
  background: #f2cdcd;
  color:#000000;
  border-radius: 5px;
  padding: 0 5px;
  margin-left: 0px;
}

#backlight {
  background: #fab387;
  color:#000000;
  border-radius: 5px;
  padding: 0 5px;
}

#battery {
  background: #fefefe;
  color:#007C00;
  border-radius: 5px;
  padding: 0 5px;
  margin-left: 0px;
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #af005f;
    }
}

#battery.warning:not(.charging) {
	background-color: #ff8700;
	color: #1b1d1e;
}
#battery.critical:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
  background: #f38ba8;
  color:#fefefe;
  border-radius: 5px;
  margin-left: 5px;
}

#memory {
  background: #A6E3A1;
  color:#000000;
  border-radius: 5px;
  margin-left: 0px;
}

#temperature {
  background: #e88939;
  color:#fefefe;
  border-radius: 5px;
  padding: 0 5px;
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
  background: #cba6f7;
  color:#000000;
  border-radius: 5px;
  padding: 0 5px;
}

#pulseaudio.muted {
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
  background: #141B1E;
  padding: 0 5px;
  border-radius: 5px;
  margin-left: 0px;
}

#custom-weather {
  background-color: #f9e2af;
  color:rgba(22, 25, 37, 1);
  box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
  border-radius: 5px;
  padding: 0 5px;
  margin-left: 0px;
}

#language {
  min-width: 20px;
  font-weight: 700;
  background: #E070C6;
  color:#fefefe;
  border-radius: 5px;
  padding: 0 5px;
}
