* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono";
    font-size: 17px;
    min-height: 0;
}

window#waybar {
    background: #282e3a;
    /*background: rgba(0, 0, 0, 0.3);*/
    color: gray;
    color: #ffffff;
}

#window {
    color: #e4e4e4;
    font-weight: bold;
}

#workspaces {
    padding: 0px;
    margin: 0px;
}

#workspaces button {
    margin: 0px;
    background: transparent;
    color: #ffffff;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    /*
	color: #00afd7;
	color: #ffffff;
	border: 1px solid #00afd7;
	*/
    /*border: 1px solid #1b1d1e;*/
    font-weight: bold;
}

#workspaces button:hover {
    color: #282e3a;
    background: #efd46d;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.active {
    color: #282e3a;
    background: #efd46d;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.focused {
    background: #e88939;
    background: #00afd7;
    color: #1b1d1e;
}

#workspaces button.urgent {
    background: #af005f;
    color: #1b1d1e;
}

#mode {
    background: #af005f;
    color: #1b1d1e;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-spotify,
#custom-weather,
#tray,
#mode,
#backlight,
#network,
#language,
#temperature,
#custom-disk_home,
#custom-disk_root,
#workspaces {
    padding: 0 3px;
    margin: 5px 5px 5px 5px;
}

#custom-disk_root {
    margin-left: 0;
}

#custom-disk_home {
    color: #e5c76b;
    border-radius: 5px 0 0 5px;
    padding: 0 5px;
    margin-left: 5px;
    margin-right: 0;
}

#custom-disk_root {
    color: #e5c76b;
    border-radius: 0 5px 5px 0;
    padding: 0 5px;
}

#clock {
    color: #f2cdcd;
    border-radius: 5px;
    padding: 0 5px;
    margin-left: 5px;
}

#backlight {
    color: #fab387;
    border-radius: 5px;
    padding: 0 5px;
}

#battery {
    color: #00fa93;
    border-radius: 5px;
    padding: 0 5px;
    margin-left: 5px;
}

#battery icon {
    color: red;
}

#battery.charging {}

@keyframes blink {
    to {
        background-color: #af005f;
    }
}

#battery.warning:not(.charging) {
    background-color: #ff8700;
    color: #1b1d1e;
}

/*#battery.critical:not(.charging) {*/
/*    color: white;*/
/*    animation-name: blink;*/
/*    animation-duration: 0.5s;*/
/*    animation-timing-function: linear;*/
/*    animation-iteration-count: infinite;*/
/*    animation-direction: alternate;*/
/*}*/

#cpu {
    color: #f38ba8;
    border-radius: 5px;
    margin-left: 5px;
    min-width: 80px;
}

#memory {
    color: #a6e3a1;
    border-radius: 5px;
    margin-left: 5px;
}

#temperature {
    color: #e88939;
    border-radius: 5px;
    padding: 0 5px;
}

#network {
    color: #58a6ff;
    border-radius: 5px;
    padding: 0 5px;
}

#network.disconnected {
    color: #f53c3c;
}

#pulseaudio {
    color: #cba6f7;
    border-radius: 5px;
    padding: 0 5px;
}

#pulseaudio.muted {}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
    /*background: #141B1E;*/
    padding: 0 5px;
    border-radius: 5px;
    margin-left: 5px;
}

#custom-weather {
    background-color: #f9e2af;
    color: rgba(22, 25, 37, 1);
    box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
    border-radius: 5px;
    padding: 0 5px;
    margin-left: 0px;
}

#language {
    min-width: 20px;
    font-weight: 700;
    color: #e070c6;
    border-radius: 5px;
    padding: 0 5px;
}
