[Desktop Entry]
Name=Neovide
Comment=Neovim GUI
Exec=env PATH=$HOME/.cargo/bin:/home/linuxbrew/.linuxbrew/bin:/usr/local/bin:/usr/bin:/bin /home/mkc/.cargo/bin/neovide --neovim-bin /home/linuxbrew/.linuxbrew/bin/nvim %F
Icon=neovide
Terminal=false
Type=Application
Categories=Utility;Development;IDE;
