[Desktop Entry]
Name=Neovide
Comment=Neovim GUI
Exec=/home/mkc/.cargo/bin/neovide --neovim-bin /home/linuxbrew/.linuxbrew/bin/nvim %F
Icon=neovide
Terminal=false
Type=Application
Categories=Utility;Development;IDE;
