/* explorer */
/* background */
.monaco-workbench {
  --vscode-sideBar-background: var(--vscode-editor-background) !important;
  --vscode-editorRuler-foreground: rgba(255, 255, 255, 0.08) !important;
}

/* errors popup */
/* .overlayWidgets .zone-widget {
  display: none;
} */

/* explorer bottom part */
.split-view-view.visible {
  background: #16171d;
}

/* pretty ts errors hack */
.codicon-none {
  user-select: text !important;
  -webkit-user-select: text !important;
}
div.monaco-hover-content:has(.codicon-none) > .hover-row:first-child {
  display: none !important;
}
div.monaco-hover-content:has([style="color:#f96363;"])
  > .hover-row:first-child {
  display: none !important;
}
.monaco-hover .monaco-hover-content {
  display: flex;
  flex-direction: column;
}
.monaco-hover .monaco-hover-content .hover-row {
  order: 2;
}
.monaco-hover .monaco-hover-content .hover-row:has(.codicon-none) {
  order: 1;
}
.monaco-hover .monaco-hover-content .hover-row:has([style="color:#f96363;"]) {
  order: 1;
}
